/*******************************************************************************
*   ___   publicplace
*  ¦OUX¦  deprecated standalone injection
*  ¦/C+¦  ‟chromium” extension
*   ---   page restyle
*         display styles
* ©overcq                on ‟Gentoo Linux 13.0” “x86_64”             2015‒4‒28 *
*******************************************************************************/
input[type="text"], input[type="search"], input[type="tel"], input[type="url"], input[type="email"], input[type="password"], input[type="datetime"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], input[type="number"]
{ border: 1pt solid #7a7a7f !important
; padding: 3pt 3pt 2pt 4pt !important
; opacity: .75 !important
; background-color: white !important
; font-size: 8pt !important
}
input[type="checkbox"], input[type="radio"]
{ margin: 0 3.5pt !important
; vertical-align: text-top !important
}
input[type="file"], input[type="submit"], input[type="reset"], input[type="button"], select
{ padding: 1.5pt 3pt 1.5pt 3.5pt !important
}
a:link, a:visited, a:hover, a:active, a:focus
{ background-color: transparent !important
; color: inherit !important
}
::selection
{ background-color: rgba( 184, 55, 55, 0.30980392156862746 ) !important
}
/******************************************************************************/
